# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages ​​for Data Science.
- List common libraries used in Data Science.
- Represent examples of arithmetic operations.
- Use different heading styles.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. Pandas
3. Numpy

|Data Science Tools|
|--------------------------------|
|             R                  |
|           Phyton               |
|      Jupyter Notebook          |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
# This a simple arithmetic expression to mutiply then add integers
( 3 * 4 ) + 5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print (hours)

3.3333333333333335

## Autor
Victor Moisés Cerdas Rivera